* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
	color: white;
  }
  :root {
	--blue: rgb(24, 171, 255);
	--full-width: 100%;
	--content-width: 80%;
	--one-column: 1fr;
	--one-one-columns: 1fr 1fr;
	--one-one-one-columns: 1fr 1fr 1fr;
	--one-one-one-one-columns: 1fr 1fr 1fr 1fr;
	--one-two-columns: 1fr 2fr;
	--one-three-columns: 1fr 3fr;
	--two-three-columns: 2fr 3fr;
	--three-two-columns: 3fr 2fr;
	--three-one-columns: 3fr 1fr;
	--black-color: rgb(0, 0, 0);
	--dark-grey-color: rgb(13, 13, 13);
	--light-grey-color: rgb(156, 156, 156);
	--background-two: rgb(255, 255, 255);
	--orange-color: rgb(255, 125, 86);
	--orange-color-two: rgba(255, 125, 86, .5);
	--orange-color-three: rgb(240, 88, 41);
	--green-color: rgb(0, 255, 8);
	--white-color: rgb(255, 255, 255);
	--width-set-one: 80%;
  }
body {
	/* background: rgb(255,201,0);
	background: -moz-linear-gradient(45deg, rgba(255,201,0,1) 0%, rgba(255,85,0,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(255,201,0,1) 0%, rgba(255,85,0,1) 100%);
	background: linear-gradient(45deg, rgba(255,201,0,1) 0%, rgba(255,85,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc900",endColorstr="#ff5500",GradientType=1); */
	background: black;
}
h1 {
	color: var(--orange-color);
	padding-bottom: 10px;
	font-weight: 600;
	font-size: 2.2em;
}
h2 {
	color: var(--orange-color);
	padding-bottom: 10px;
	font-size: 1.8em;
	font-weight: 500;
}
p {
	color: white;
	padding-bottom: 20px;
	font-size: 1.2em;
}
ul {
	list-style-type: none;
	margin-bottom: 20px;
}
li {
	text-indent: 15px;
	color: var(--light-grey-color);
	font-size: 1em;
}
.bold {
	font-weight: bolder;
}
.orange {
	color: var(--orange-color);
}
.orange-two {
	color: var(--orange-color-two);
}
.orange-three {
	color: var(--orange-color-three);
}
.green {
	color: var(--green-color);
}
.github-icon {
	display: grid;
	width: 30px;
	fill: var(--orange-color);
}

/**********************************************************************************************/
/**************************************   SCROLLER   ******************************************/
/**********************************************************************************************/

.page-change-ul {
	display: grid;
	list-style-type: none;
}
.page-changer {
	display: inline-grid;
	width: 20px;
	fill: var(--light-grey-color);
	padding: 10px 0px;
}
.page-changer:hover {
	cursor: pointer;
	fill: var(--orange-color);
}
.page-changer:hover ~ .page-change-title{
	display: inline-grid;
}

.page-scroll {
	display: grid;
	align-items: center;
	margin-left: 2.5%;
	position: fixed;
	height: calc(100vh + 65px);
	color: white;
}

.page-change-title {
	display: none;
	vertical-align: top;
	padding: 10px 0px;
	font-size: 1em;
	padding-left: 10px;
	color: var(--light-grey-color);
}

/**********************************************************************************************/
/****************************************   NAV   *********************************************/
/**********************************************************************************************/
nav {
	display: grid;
	position: fixed;
	top: 0;
	width: 100%;
	height: 30px;
	background-color:var(--dark-grey-color);
}
.nav-2 {
	display: grid;
	position: fixed;
	grid-template-columns: var(--one-column);
	height: 30px;
	width: 100%;
	margin-top: 35px;


}
.nav-wrapper {
	display: grid;
	grid-template-columns: var(--three-two-columns);
	width: 95%;
	height: 30px;
	justify-self: center;
}
.nav-wrapper-2 {
	display: grid;
	justify-self: center;
	height: 30px;

}
.nav-wrapper div:nth-child(1){
	display: grid;
	justify-content: left;
}
.nav-wrapper div:nth-child(2){
	display: grid;
	justify-content: right;
}
.nav-ul {
	display: block;
	height: 30px;
	width: 100%;
}
.nav-ul-2 {
	display: block;
	height: 30px;
	width: 100%;
}

.nav-li {
	display: inline-flex;
	height: 30px;
	padding-right: 20px;
	vertical-align: middle;
}
.nav-li-2 {
	display: inline-flex;
	height: 30px;
	padding-left: 20px;
	vertical-align: middle;
}
.nav-li-3 {
	display: inline-flex;
	align-self: center;
	padding: 0px 20px;
	padding-right: 20px;
}
.nav-sym {
	display: grid;
	margin: auto;
	height: 90%;
	align-self: center;
	font-size: 1em;
	color: var(--orange-color);
}
.perc-up {
	display: grid;
	margin: auto;
	height: 90%;
	align-self: center;
	font-size: .85em;
	color: var(--green-color);
}
.perc-down {
	display: grid;
	margin: auto;
	height: 90%;
	align-self: center;
	font-size: .85em;
	color: rgb(174, 17, 0);
}
.nav-price {
	display: grid;
	margin: auto;
	height: 90%;
	align-self: center;
	font-size: .85em;
	color: var(--green-color);
}
.nav-links {
	display: grid;
	text-decoration: none;
	/* color: var(--black-color); */
	color: var(--light-grey-color);
	font-size: .9em;
	font-weight: bold;
	align-self: center;
}
.nav-links:hover, .nav-links-2:hover {
	color: var(--white-color)
}
.nav-links-2{
	display: grid;
	text-decoration: none;
	/* color: var(--black-color); */
	color: var(--light-grey-color);
	font-size: .9em;
	align-self: center;
}

.icon-logo {
	display: grid;
	align-self: center;
	width: 28px;
	fill: var(--orange-color);
}
.icon-logo:hover {
	fill: var(--white-color);
	cursor: pointer;
}
/**********************************************************************************************/
/**************************************LANDING SECTION*****************************************/
/**********************************************************************************************/

.landing {
	display: grid;
	align-content: center;
	height: 100%;
	width: 100%;
	background: url("../images/viabull-bg.jpg");
	background-size: cover;
}
.landing-wrapper {
	display: grid;
	width: 80%;
	grid-template-areas: 'cta logo';
	grid-template-columns: 1fr 1fr;
	justify-self: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
}
.landing-wrapper div:nth-child(1){
	display: block;
	grid-area: cta;
	grid-template-rows: auto;
	width: 80%;
}
.landing-wrapper div:nth-child(2){
	display: grid;
	grid-area: logo;
	width: 80%;
}
.landing-title {
	display: block;
	width: 100%;
	height: 100%;
}
.landing-links {
	display: grid;
	width: 100%;
}
.landing-logo {
	display: grid;
	width: 100%;
}
.two-cols{
	display: grid;
	grid-template-columns: auto 1fr;
	margin-bottom: 20px;
}
.cta-btns {
	display: inline-grid;
	width: 35px;
	fill: var(--light-grey-color);
	padding: 10px 0px;
}
.cta-btns-title {
	display: inline-grid;
	vertical-align: top;
	padding: 15px 0px;
	font-size: 1em;
	padding-left: 10px;
	color: var(--light-grey-color);
	}

.cta-btns-li:hover .cta-btns-title,.cta-btns-li:hover .cta-btns {
	cursor: pointer;
	color: var(--orange-color);
	fill: var(--orange-color);
}
/**********************************************************************************************/
/************************************** CTA SECTION  *****************************************/
/**********************************************************************************************/

/**********************************************************************************************/
/*************************************  WHAT SECTION  *****************************************/
/**********************************************************************************************/
.what-section {
display: grid;
margin-top: 150px;
}
.what-wrapper {
	display: grid;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 80%;
	grid-template-columns: var(--one-one-columns);
	justify-self: center;
}
.big-btn {
	display: grid;
	align-content: center;
	justify-content: center;
	width: 200px;
	height: 30px;
	background: var(--orange-color-three);
	color: white;
	text-decoration: none;
	padding: 20px;
	border-radius: 5px;;

}
/**********************************************************************************************/
/************************************** WHY SECTION *******************************************/
/**********************************************************************************************/
.why-section, .why-section-two {
	display: grid;
	margin-top: 150px;
	}
	
.why-wrapper {
	display: grid;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	justify-self: center;
	width: 80%;
	grid-template-columns: var(--one-one-columns);
	justify-self: center;
}
.why-wrapper-two {
	display: grid;
	align-content: center;
	align-items: center;
	justify-self: center;
	width: 80%;
	grid-template-columns: var(--one-one-columns);
	justify-self: center;
}
/**********************************************************************************************/
/************************************** MEDIA QUERY *******************************************/
/**********************************************************************************************/

/**********************************************************************************************/
/***************************************** LOGIN / Register  *********************************************/
/**********************************************************************************************/
.login, .register {
	display: grid;
	height: 100vh;
	width: 100%;
	padding-top: 150px;
	background: url("../images/viabull-bg.jpg");
	background-size: cover;
}
.login-wrapper {
	display: grid;
	grid-template-columns: var(--one-column);
	justify-self: center;
	justify-content: center;
	align-self: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}
.login-form, .register-form {
	display: grid;
	width: 100%;
	justify-self: center;
	background: rgba(7, 7, 7, 0.5);
	padding: 30px;
	box-shadow: inset 1px 1x 16px black;
	border: 1px solid var(--orange-color-two);
}
.register-wrapper {
	display: grid;
	grid-template-columns: var(--one-one-columns);
	justify-self: center;
	justify-content: center;
	justify-items: center;
	align-self: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	width: 60%;
	gap: 50px;
}
input[type="text"], input[type="password"], input[type="email"] {
	border: none;
	height: 35px;
	width: 100%;
	margin: 10px 0px;
	border-radius: 2px;
	border: none;
	background:rgb(14, 7, 0);;
	font-size: 1.1em;
	padding: 5px;
	color: var(--light-grey-color);
}
input[type="text"]:focus, input[type="password"]:focus,input[type="email"]:focus, input[type="tel"]:focus  {
	border: solid .5px var(--orange-color);
	outline: none;
}
.login-submit-btn, .register-submit-btn {
	display: grid;
	background: var(--orange-color);
	border: none;
	margin-top: 40px;
	height: 35px;
	font-size: 1.1em;
	align-content: center;
	color: white;
	box-shadow: inset 0px 0px 8px rgba(255, 255, 255, .2 );
}
.login-submit-btn:hover, .register-submit-btn:hover {
	cursor: pointer;
	background: rgb(240, 88, 41);
	border: none;
	margin-top: 40px;
	height: 35px;
	font-size: 1.1em;
	align-content: center;
	color: white;
}
.login-drop-down {
	display: none;
	position: fixed;
	padding: 0px;
	background: var(--dark-grey-color);
	right: 2.5%;
	width: 200px;
	z-index: 1;
	border-top: 1px solid black;

}
.login-bottom {
	display: grid;
	justify-self: center;
	justify-content: center;
	align-self: flex-end;
}
.login-nav-btn {
	display: grid;
	justify-self: center;
	align-self: flex-start;
	margin: 10px 0px;
	width: 180px;
	height: 30px;
	text-decoration: none;
	background: var(--orange-color);
	text-align: center;
	align-content: center;
	color: var(--black-color);
	font-weight: bold;
	font-size: .9em;
	box-shadow: inset 2px 1px 8px  rgba(0, 0, 0, 0.2);
	transition: ease-in-out 400ms;
}
.login-nav-btn:hover {
	background: rgb(240, 88, 41);
}
.myaccount-ul {
	display: grid;
	justify-self: left;
	justify-content: center;
	list-style-type: none;
	align-content: flex-start;
	font-size: .8em;
	padding: 0px;
	margin: 0px;
}
.myaccount-li {
	display: grid;
	border-top: 1px solid rgb(0, 0, 0, .5);
	width: 200px;
	text-align: left;
	font-weight: 300;
	padding: 6px 0px;
}
.myaccount-links {
	text-decoration: none;
	color: var(--orange-color);
}
.myaccount-links:hover {
	text-decoration: none;
	color: var(--orange-color-three);
}
.form-questions-p {
	margin-top: 10px;
	font-size: .9em;
	color: white;
}
.form-questions-a{
	display: inline-grid;
	margin-top: 10px;
	font-size: .9em;
	text-decoration: none;
	color: var(--light-grey-color);
}
.form-questions-a:hover {
	margin-top: 10px;
	font-size: .9em;
	color: var(--orange-color);
}
.form-logo {
	display: grid;
	justify-self: center;
	width: 50%;
	padding-bottom: 40px;
}
.helper {
	display: inline-grid;
	color: var(--orange-color-three);
	width: 100%;
}
/**********************************************************************************************/
/****************************************** API  **********************************************/
/**********************************************************************************************/
.api-main {
	display: grid;
	justify-content: center;
	justify-items: center;
	align-content: flex-start;
	height: 100vh;
	width: 100%;
	padding-top: 60px;
	background: url("../images/viabull-bg.jpg");
	background-size: cover;
}
.api-wrapper {
	display: grid;
	width: 95%;
	justify-self: center;
	justify-content: center;
	justify-items: center;
	align-self: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}
.one-column-div {
	display: grid;
	width: 100%;
	justify-items: center;
}
.two-column-div {
	display: grid;
	grid-template-columns: var(--one-one-columns);
	margin: 150px 0px;
	width: 100%;
}
.two-column-div > div:nth-child(1) {
	display: grid;
	align-content: flex-start;
	justify-self: center;
	justify-items: left;
	justify-content: left;
}
.two-column-div > div:nth-child(2) {
	display: grid;
	align-content: flex-start;
	justify-self: center;
	justify-items: center;
	justify-content: center;
	margin-top: 20px;
}
.sponsor {
	font-size: .95em;
	width: 80%;
	line-height: 25px;
}
.img-25 {
	width: 25%;
}
.img-50 {
	width: 50%;
}
.img-75 {
	width: 75%;
	margin-bottom: 150px;
}
.flex-start
 {
	 align-self: flex-start;
 }
.api-table tr.data:hover {
	background: var(--orange-color);
}

td {
	padding: 5px;
	border: none;
}

.api-open {
	color: yellow;
}
.api-close {
	color: red;
}
.api-lowest {
	color: var(--orange-color);
}
.api-high {
	color: green;
}
.api-vol {
	color: var(--light-grey-color);
}
.search-results-table {
	width: 90%;
}
.table-info {
	display: grid;
	grid-template-columns: var(--two-three-columns);
	align-content: flex-start;
	justify-self: center;
	justify-items: center;
	justify-content: center;
	width: 95%;
	justify-content: center;
	padding-top: 50px;
}

.table-info div:nth-child() {
	justify-self: center;
	padding: 0% 5%;
	width: 100%;
}
.table-info div:nth-child(2) {
	justify-self: center;
	padding: 0% 5%;
	width: 100%;
}

.stock-link {
	color: var(--orange-color);
}

input[type="search"] {
	display: inline;
	border: none;
	height: 35px;
	width: 100%;
	margin: 10px 0px;
	border-radius: 2px;
	border: none;
	background:rgb(51, 26, 0);;
	font-size: 1.1em;
	padding: 5px;
	color: var(--white-color);
}
input[type="search"]:focus {
	outline: none;
}
.search-input {
	display: grid;
}
.search-btn {
	display: grid;
	height: 35px;
	background: var(--orange-color-three);
	width: max-content;
	padding: 0px 20px;
	margin: 10px 20px;
	text-decoration: none;
	align-content: center;
	border-radius: 6px;
}
.addTo-btn {
	background: rgb(24, 255, 120);
	border: none;
	padding: 5px;
	transition: ease-in-out 200ms;
	color: black;

}
.addTo-btn:hover {
	background: rgb(24, 255, 120);
	border: none;
	padding: 5px;
	cursor: pointer;
	transform: scale(1.05);
}
.addTo-btn:focus {
	background: rgb(24, 255, 120);
	border: none;
	padding: 5px;
	transform: scale(.95);
	border: none;
	outline: none;
}

/**********************************************************************************************/
/**************************************** UPDATES  ********************************************/
/**********************************************************************************************/
.updates {
	display: grid;
	padding-top: 100px;
}
.updates-wrapper {
	display: grid;
	width: 80%;
	grid-template-areas: 'col1 col2';
	grid-template-columns: 1fr 1fr;
	justify-self: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
}
.updates-wrapper div:nth-child(1){
	grid-area: col1;
}
.updates-wrapper div:nth-child(2){
	grid-area: col2;
	align-self: flex-start;
}
.updates-table {
	margin: 20px 0px;
}
.updates-logo {
	display: grid;
	margin: auto;
	width: 200px;
	justify-self: center;
}
/**********************************************************************************************/
/************************************** MOBILE MENU  ******************************************/
/**********************************************************************************************/
.mobile-nav-wrapper {
	display: none;
	height: 40px;
	width: 100%;
	position: fixed;
	background: var(--dark-grey-color);
}
.mobile-menu {
	display: none;
}
/**********************************************************************************************/
/************************************** Profile Page  *****************************************/
/**********************************************************************************************/
.profile {
	display: grid;
}
.profile-wrapper {
	display: grid;
	justify-self: center;
	grid-template-columns: var(--one-three-columns);
	padding-top: 150px;
	width: 95%;
}
.profile-left {
	display: grid;
	align-content: flex-start;
	width: 75%;
}
.profile-right-one-column {
	display: grid;
	align-content: flex-start;
	gap: 30px;
	width: 100%;
	margin-top: 30px;
}
.profile-right-two-columns {
	display: grid;
	grid-template-columns: var(--one-one-columns);
	align-content: flex-start;
	gap: 30px;
	width: 100%;
}
.profile-right-two-columns div, .profile-right-one-column div {
	display: grid;
	background: rgba(150, 150, 150, 0.1);
	align-content: flex-start;
	border: 1px solid var(--orange-color-two);
}

.profile-actions {
	display: grid;
	background: var(--dark-grey-color);
	height: 30px;
	padding: 30px;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}
.profile-actions-active {
	display: grid;
	padding: 30px;
	background: var(--orange-color);
	height: 30px;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	border-left: 4px solid var(--orange-color-three);
}
.profile-actions:hover {
	display: grid;
	background: var(--orange-color-three);
	height: 30px;
	padding: 30px;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}
.profile-info-table {
	background: transparent;
}
.profile-info-table th{
	text-align: left;
	padding: 5px;
}
.profile-info-table tr{
	background: none;
}
.profile-sub {
	color: var(--light-grey-color);
}
.profile-div-head {
	display: grid;
	background: rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin: 0px;
	font-size: 1.5em;
}
.update-phone-link, .update-email-link {
	text-decoration: none;
	color: var(--orange-color-three);
	font-size: .8em;
}
.update-phone-input, .update-email-input {
	display: inline;
	color: black;
	padding: 5px;
}
.update-btn {
	display: inline-grid;
	background: var(--orange-color-three);
	border: 0px;
	padding: 5px 15px;
	margin-top: 5px;
}
.update-btn-close {
	display: inline-grid;
	background: var(--orange-color-three);
	border: 0px;
	padding: 5px 15px;
	margin-top: 5px;
}
#update-phone-form, #update-email-form {
	display: none;
}
.update-phone-form-btn, .update-email-btn {
	display: none;
	/* display: inline; */
	background: var(--orange-color-three);
	border: 0px;
	padding: 5px 15px;
	margin-top: 5px;
}
@media only screen and (max-width: 1355px) {
	.landing-wrapper {
		width: 75%;
	}
}
@media only screen and (max-width: 1105px) {
	.page-changer:hover ~ .page-change-title{
		display: none;
	}
	.table-info {
		grid-template-columns: var(--one-column);
		padding-top: 50px;
	}
	.register-wrapper {
		display: grid;
		grid-template-columns: var(--one-one-columns);
		justify-self: center;
		justify-content: center;
		justify-items: center;
		align-self: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}
}
@media only screen and (max-width: 900px) {
	:root {
		--blue: rgb(24, 171, 255);
		--full-width: 100%;
		--content-width: 80%;
		--one-column: 1fr;
		--one-one-columns: 1fr;
		--one-one-one-columns: 1fr 1fr 1fr;
		--one-one-one-one-columns: 1fr 1fr 1fr 1fr;
		--one-two-columns: 1fr 2fr;
		--one-three-columns: 1fr 3fr;
		--two-three-columns: 2fr 3fr;
		--three-two-columns: 3fr 2fr;
		--three-one-columns: 3fr 1fr;
		--black-color: rgb(0, 0, 0);
		--dark-grey-color: rgb(13, 13, 13);
		--light-grey-color: rgb(156, 156, 156);
		--background-two: rgb(255, 255, 255);
		--orange-color: rgb(240, 88, 41);
		--white-color: rgb(255, 255, 255);
		--width-set-one: 80%;
	  }
	  .landing-wrapper {
		display: grid;
		width: 85%;
		grid-template-areas: 'logo' 'cta';
		grid-template-columns: 1fr;
		justify-self: center;
		justify-content: center;
		justify-items: center;
		align-content: center;
		align-items: center;
	}
	.landing-wrapper div:nth-child(1){
		display: block;
		width: 100%;
	}
	.landing-wrapper div:nth-child(2){
		display: block;
		width: 100%;
		margin-bottom: 40px;
	}
	.page-scroll {
		display: none;
		align-items: center;
		margin-left: 2.5%;
		position: fixed;
		height: calc(100vh + 65px);
		color: white;
	}
}
.nav-wrapper {
	display: grid;
	grid-template-columns: var(--three-one-columns);
	width: 95%;
	height: 30px;
	justify-self: center;
}
.table-info div:nth-child(1) {
	width: 85%;
}

@media only screen and (max-width: 800px) {
nav {
	display: none;
}
.mobile-menu {
	display: none;
	top: -100%;
	position: fixed;
	width: 100%;
	height: 100%;
	margin-top: 40px;
	background: rgb(13, 13, 13, .8)
}
.mobile-links {
	display: grid;
	text-align: right;
	padding-right: 1%;
	text-align: center;
	text-decoration: none;
	padding: 10px 0px;
}
.mobile-nav-wrapper {
	display: grid;
	height: 40px;
	width: 100%;
	position: fixed;
	background: var(--dark-grey-color);
}
.mobile-nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 98%;
	justify-self: center;
}
.mobile-nav div:nth-child(2) {
	display: grid;
	justify-content: right;
	justify-items: right;
	width: 100%;
}
.mobile-nav-li {
	display: inline-flex;
	height: 30px;
}
.mobile-nav-link {
	display: grid;
	margin: 0;
	width: 28px;
	fill: var(--orange-color);
}
.mobile-icon-logo {
	display: grid;
	justify-self: left;
	width: 40px;
	padding-top: 10px;
	fill: var(--orange-color);
}
.mobile-icon-btn {
	display: grid;
	justify-self: right;
	width: 40px;
	padding-top: 10px;
}
.updates-wrapper {
	display: grid;
	width: 80%;
	grid-template-areas: 'col1' 'col2';
	grid-template-columns: var(--one-column);
	justify-self: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
}
.updates-wrapper div:nth-child(1){
	grid-area: col1;
	margin-top: 20px;
}
@media only screen and (max-width: 478px) {
	nav {
		height: 50px;
	}
	.api-table {
		width: 100vw;
		justify-self: left;
		background: red;
	}
	.table-info {
		justify-items: left;
		justify-content: left;
		padding: none;
	}
	.table-info div:nth-child(1) {
		display: grid;
		justify-self: center;
		justify-content: left;
		justify-items: left;
		width: 98%;
	}
	.table-info div:nth-child(2) {
		justify-self: left;
		width: 98%;
		padding: 0%;
	}
	.api-request-btn {
		text-align: center;
	}
}
