<!DOCTYPE lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viabull | Invest</title>
    <link
      rel="stylesheet"
      href="../style/style.css"
    />
    <link rel="shortcut icon" href="../images/viabull-bg.jpg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"></head>
   

<nav>
    <div class="nav-wrapper">
      <div>
          <ul class="nav-ul">
              <li class="nav-li">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.4 47.5" class="icon-logo" id="go-home"><g id="a6849f81-f728-4c40-8dc6-b17568495b44" data-name="Layer 2">
                      <g id="efc751b0-10c3-4f4a-ba7a-27bf338c9014" data-name="Layer 2">
                          <path d="M44.8,14,35.9,33.6l-2.7,6.1-2.7-6.1L21.7,14A23.4,23.4,0,0,1,0,0,23.9,23.9,0,0,0,1.6,8.7a24,24,0,0,0,13,12.6l4.9,9.4,7.7,16.8H39.3l7.6-16.8,4.9-9.4a24,24,0,0,0,13-12.6A22,22,0,0,0,66.4,0,23.3,23.3,0,0,1,44.8,14" />
                      </g></g>
                  </svg>
              </li>
              <li class="nav-li"><a href="../view/updates.php" class="nav-links">Project Info</a></li>
              <li class="nav-li"><a href="stocks.php" class="nav-links">Stocks</a></li>
              <li class="nav-li"><a href="javascript:void(0)" class="nav-links">Download</a></li>
              <li class="nav-li"><a href="../../../view/index.html" class="nav-links">Back to portfolio</a></li>
          </ul>
        </div>
        <div>
            <ul>
              <li class="nav-li-2"><a href="javascript:void(0)" class="nav-links-2">Support</a></li>
              <li class="nav-li-2"><a href="javascript:void(0)" class="nav-links-2" id="test">My Account</a></li>
          </ul>
        </div>
    </div>
    </nav>
    <div class="mobile-nav-wrapper">
    <div class="mobile-nav">
    <div>
      <ul class="nav-ul">
        <li class="nav-li">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.4 47.5" class="mobile-icon-logo" id="go-home"><g id="a6849f81-f728-4c40-8dc6-b17568495b44" data-name="Layer 2">
                <g id="efc751b0-10c3-4f4a-ba7a-27bf338c9014" data-name="Layer 2">
                    <path d="M44.8,14,35.9,33.6l-2.7,6.1-2.7-6.1L21.7,14A23.4,23.4,0,0,1,0,0,23.9,23.9,0,0,0,1.6,8.7a24,24,0,0,0,13,12.6l4.9,9.4,7.7,16.8H39.3l7.6-16.8,4.9-9.4a24,24,0,0,0,13-12.6A22,22,0,0,0,66.4,0,23.3,23.3,0,0,1,44.8,14" />
                </g></g>
            </svg>
        </li>
        </ul>
    </div>
    <div>
      <ul class="nav-ul">
        <li class="mobile-nav-li">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.6 15.8" class="mobile-icon-btn" id="mobile-menu-btn"><g id="f02fb3dc-b391-43d3-805a-1726ad29d629" data-name="Layer 2"><g id="f980cfbe-d879-42fe-8a40-feae534941eb" data-name="Layer 1"><rect y="13.8" width="19.6" height="2.03" fill="#fff"/><rect width="19.6" height="2.03" fill="#fff"/><rect y="6.9" width="19.6" height="2.03" fill="#fff"/></g></g></svg>
        </li>
        <li class="mobile-nav-li">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.3 29.8" class="mobile-icon-logo" id="mobile-account-btn">
            <g id="ac5dd6ff-902e-4f27-86c8-25d44d41dab1" data-name="Layer 2">
              <g id="a7879e33-207d-4b8d-9560-008f6a201edc" data-name="Layer 2">
                <path d="M17.1,16.9a8.5,8.5,0,1,1,8.5-8.5A8.5,8.5,0,0,1,17.1,16.9ZM17.1,2a6.5,6.5,0,1,0,6.5,6.4A6.4,6.4,0,0,0,17.1,2Z" fill="#b3b3b3"/>
                <path d="M34.3,29.8H32.5v-1a6.4,6.4,0,0,0-6.3-6.4H8.1a6.4,6.4,0,0,0-6.3,6.4v1H0v-1a8.1,8.1,0,0,1,8.1-8.1H26.2a8.1,8.1,0,0,1,8.1,8.1Z" fill="#b3b3b3"/></g></g></svg>
        </li>
        </ul>
    </div>
    </div>
    </div>
    
    <div class="mobile-menu">
    <ul>
        <li><a href="../view/index.php" class="mobile-links">Home</a></li>
        <li><a href="../view/updates.php" class="mobile-links">Project Info</a></li>
        <li><a href="../view/stocks.php" class="mobile-links">Stocks</a></li>
        <li><a href="javascript:void(0)" class="mobile-links">Download</a></li>
        <li><a href="../../../view/index.html" class="mobile-links">Back to Portfolio</a></li>
    </ul>
    </div>
    <div class="login-drop-down" id="login-drop-down">
    <a href="../includes/logout_inc.php" class="login-nav-btn">Log Out</a>
    <ul class="myaccount-ul">
    <li class="myaccount-li"><a href="profile.php?id='.$row["id"].'" class="myaccount-links">My Profile</a></li>
    <li class="myaccount-li"><a href="javascript:void(0)" class="myaccount-links"> Account Settings</a></li>
    <li class="myaccount-li"><a href="javascript:void(0)" class="myaccount-links"> Members</a></li>
    <li>
    </ul>
    </div>

        

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script
    type="text/javascript"
    src="../scripts/script.js"></script>
</body>

</html>